{% extends 'base.html.twig' %}

{% block title 'Se connecter' %}

{% block body %}
	<div id="main" class="loginPage">
		<div class="mainContent maxWidthMain">
			{% if error %}
				<p class="alertSms">{{ error.messageKey | trans(error.messagedata, 'security') }}</p>
			{% endif %}
			<h2>Connexion</h2>
			<div class="col-1">
				<form action="{{ path('login') }}" method="post">
					<label for="username">Pseudo</label>
					<input type="text" id="username" class="inputField pseudo" name="_username" value="{{ last_username }}">
					<label for="password">Mot de Passe</label>
					<input type="password" id="password" class="inputField pwd" name="_password">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<div class="optionsContainer">
						<div class="rememberContainer">
							<input type="checkbox" id="remember_me" name="remember_me">
							<label for="remember_me">se souvenir de moi</label>
						</div>
						<a class="forgetPwdBtn" href="{{ path('login.forget') }}">mot de passe oublié ?</a>
					</div>
					<button type="submit">SE CONNECTER</button>
				</form>
				<div class="signinContainer">
					<p>Vous n'avez pas encore de compte ? <a href="{{ path('register') }}">S'inscrire</a></p>
				</div>
			</div>
			<div class="col-2">
				<a class="googleLogin" href="{{ path('login.google') }}">
					<h3>SE CONNECTER AVEC GOOGLE</h3>
					<img src="{{ asset('images/icons/googleplus.png') }}">
				</a>
				<!--
				<a class="facebookLogin" href="{{ path('login.google') }}">
					<h3>SE CONNECTER AVEC FACEBOOK</h3>
					<img src="{{ asset('images/icons/facebook.png') }}">
				</a>
				-->
			</div>
		</div>
	</div>
{% endblock %}