{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
	<div id="main" class="loginPage">
		<div class="mainContent maxWidthMain">
			<div class="col-1">
			    <h2>Inscription</h2>
			    {{ form_start(registrationForm) }}
			    	{{ form_label(registrationForm.username) }}
					{{ form_widget(registrationForm.username) }}
					{{ form_help(registrationForm.username) }}
					{{ form_errors(registrationForm.username) }}

					{{ form_label(registrationForm.plainPassword.first) }}
					{{ form_widget(registrationForm.plainPassword.first) }}
					{{ form_help(registrationForm.plainPassword.first) }}
					{{ form_errors(registrationForm.plainPassword.first) }}

					{{ form_label(registrationForm.plainPassword.second) }}
					{{ form_widget(registrationForm.plainPassword.second) }}
					{{ form_help(registrationForm.plainPassword.second) }}
					{{ form_errors(registrationForm.plainPassword.second) }}

			    	{{ form_label(registrationForm.mail) }}
					{{ form_widget(registrationForm.mail) }}
					{{ form_help(registrationForm.mail) }}
					{{ form_errors(registrationForm.mail) }}

					{{ form_rest(registrationForm) }}
			        <button class="btn">VALIDER</button>
			    {{ form_end(registrationForm) }}
			</div>
			<div class="col-2">
			</div>
		</div>
	</div>
{% endblock %}
