{% extends 'base.html.twig' %}

{% block title 'Partager une Nouvelle Recette' %}

{% block body %}
	<div id="main" class="recettePage">
		<div class="editPage maxWidthMain">
			<h2>Partager une Nouvelle Recette</h2>
			{{ form_start(form) }}
			<div class="row">
				<div class="col-1">
					<div class="alertSms">{{ form_errors(form.imageFile) }}</div>
					<div class="updateImage">
						<img src="{{ asset('images/recettes/empty.png') | imagine_filter('thumb') }}" alt="photo du plat">
						{{ form_widget(form.imageFile) }}
						<label class="imageFileLabel" for="recette_imageFile">Cliquez ici pour ajouter une image.</label>
					</div>
				</div>
				<div class="col-2">
					<div class="row">
						<div class="titre">
						    {{ form_label(form.titre) }}
						    <div class="alertSms">{{ form_errors(form.titre) }}</div>
						    {{ form_widget(form.titre) }}
						    {{ form_help(form.titre) }}
						</div>
					</div>
					<div class="row">
						<div class="nbrPers">
						    {{ form_label(form.nbrPers) }}
						    <div class="alertSms">{{ form_errors(form.nbrPers) }}</div>
						    {{ form_widget(form.nbrPers) }}
						    {{ form_help(form.nbrPers) }}
						</div>
						<div class="tempsContainer">
							<div class="tempsPrepa">
							    {{ form_label(form.tempsPrepa) }}
							    <div class="alertSms">{{ form_errors(form.tempsPrepa) }}</div>
							    {{ form_widget(form.tempsPrepa) }}
							    {{ form_help(form.tempsPrepa) }}
							</div>
							<div class="tempsCuisson">
							    {{ form_label(form.tempsCuisson) }}
							    <div class="alertSms">{{ form_errors(form.tempsCuisson) }}</div>
							    {{ form_widget(form.tempsCuisson) }}
							    {{ form_help(form.tempsCuisson) }}
							</div>
						</div>
					</div>
				</div>
				<div class="col-3">
					<div class="type">
					    {{ form_label(form.type) }}
					    <div class="alertSms">{{ form_errors(form.type) }}</div>
					    {{ form_widget(form.type) }}
					    {{ form_help(form.type) }}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-4">
					<h3>Ingrédients</h3>
					<ul class="ingredients" data-prototype="{{ form_widget(form.ingredients.vars.prototype)|e('html_attr') }}">
						{{ form_widget(form.ingredients) }}
					</ul>
				</div>
				<div class="col-5">
					<h3>Etapes</h3>
					<ul class="etapes" data-prototype="{{ form_widget(form.etapes.vars.prototype)|e('html_attr') }}">
						{{ form_widget(form.etapes) }}
					</ul>
				</div>
				<div class="userBtnContainer">
					<button>Sauver</button>
				</div>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}


{% block javascripts %}{{ encore_entry_script_tags('manageIngAndEtapes') }}{% endblock %}