{% extends 'base.html.twig' %}

{% block title 'Liste les Recettes' %}

{% block body %}
	<h1>Partager une Nouvelle Recette</h1>
	{{ form_start(form) }}
		{{ form_row(form.titre) }}
		{{ form_row(form.type) }}
		{{ form_row(form.nbrPers) }}
		{{ form_row(form.tempsPrepa) }}
		{{ form_row(form.tempsCuisson) }}
		{{ form_row(form.imageFile) }}
		<h3>Ingrédients</h3>
		<ul class="ingredients" data-prototype="{{ form_widget(form.ingredients.vars.prototype)|e('html_attr') }}">
		</ul>
		<H3>Etapes</H3>
		<ul class="etapes" data-prototype="{{ form_widget(form.etapes.vars.prototype)|e('html_attr') }}">
		</ul>
		<button>Sauver</button>
	{{ form_end(form) }}
{% endblock %}

{% block javascripts %}{{ encore_entry_script_tags('manageIngAndEtapes') }}{% endblock %}