{% extends 'base.html.twig' %}

{% block title 'Modifier la Recette' %}

{% block body %}
	<div id="main" class="recettePage">
		<div class="editPage maxWidthMain">
			<h2>Editer la Recette</h2>
			{{ form_start(form) }}
			<div class="row">
				<div class="col-1">
					{% if recette.image %}
						<img src="{{ vich_uploader_asset(recette, 'imageFile') | imagine_filter('thumb') }}" alt="photo du plat">
					{% else %}
						<img src="{{ '/images/recettes/empty.png' | imagine_filter('thumb') }}" alt="photo du plat">
					{% endif %}
					{{ form_widget(form.imageFile) }}
				</div>
				<div class="col-2">
					<div class="row">
						<div class="titre">
						    {{ form_label(form.titre) }}
						    {{ form_widget(form.titre) }}
						    {{ form_help(form.titre) }}
						    {{ form_errors(form.titre) }}
						</div>
					</div>
					<div class="row">
						<div class="nbrPers">
						    {{ form_label(form.nbrPers) }}
						    {{ form_widget(form.nbrPers) }}
						    {{ form_help(form.nbrPers) }}
						    {{ form_errors(form.nbrPers) }}
						</div>
						<div class="tempsContainer">
							<div class="tempsPrepa">
							    {{ form_label(form.tempsPrepa) }}
							    {{ form_widget(form.tempsPrepa) }}
							    {{ form_help(form.tempsPrepa) }}
							    {{ form_errors(form.tempsPrepa) }}
							</div>
							<div class="tempsCuisson">
							    {{ form_label(form.tempsCuisson) }}
							    {{ form_widget(form.tempsCuisson) }}
							    {{ form_help(form.tempsCuisson) }}
							    {{ form_errors(form.tempsCuisson) }}
							</div>
						</div>
					</div>
				</div>
				<div class="col-3">
					<div class="type">
					    {{ form_label(form.type) }}
					    {{ form_widget(form.type) }}
					    {{ form_help(form.type) }}
					    {{ form_errors(form.type) }}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-4">
					<h3>Ingrédients</h3>
					<ul class="ingredients" data-prototype="{{ form_widget(form.ingredients.vars.prototype)|e('html_attr') }}">
						{% for ingredient in form.ingredients %}
					    	<li>
						    	{{ form_label(ingredient) }}
							    {{ form_widget(ingredient, {'attr': {'class': 'AALLLOOO'}}) }}
							    {{ form_help(ingredient) }}
							    {{ form_errors(ingredient) }}
						    </li>
					    {% endfor %}
					</ul>
				</div>
				<div class="col-5">
					<h3>Etapes</h3>
					<ul class="etapes" data-prototype="{{ form_widget(form.etapes.vars.prototype)|e('html_attr') }}">
						{% for etape in form.etapes %}
							<li>
						    	{{ form_label(etape) }}
							    {{ form_widget(etape) }}
							    {{ form_help(etape) }}
							    {{ form_errors(etape) }}
						    </li>
					    {% endfor %}
					</ul>
				</div>
				<div class="userBtnContainer">
					<button>Modifier</button>
				</div>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}


{% block javascripts %}{{ encore_entry_script_tags('manageIngAndEtapes') }}{% endblock %}