{% extends 'base.html.twig' %}

{% block title 'Liste des Recettes' %}

{% block body %}

<div id="main" class="indexPage">
	<div class="mainContent maxWidthMain">
		{% for message in app.flashes('success') %}
			<p class="infoSms">{{ message }}</p>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<p class="alertSms">{{ message }}</p>
		{% endfor %}
		<div class="rowTitre">
			<h2>Les Recettes</h2>
			<form class="filtrerTrierForm" name="trier" method="post" action="{{ path('recipe.index') }}">
				<div class="filtrerContainer">
					<h3>Afficher<span id="filtrerDetail" class="filtrerDetail"></span></h3>
					<div class="hiddenContainer">
						{% if app.user %}
							<label><!--
								--><input type="checkbox" id="vosFav" name="vosFav"{{ ('on' in afficher['vosFav']) ? 'checked' : '' }}><!--
								-->vos favoris<!--
							--></label>
							<label><!--
		  						--><input type="checkbox" id="vosRea" name="vosRea"{{ ('on' in afficher['vosRea']) ? 'checked' : '' }}><!--
		  						-->vos réalisations<!--
		  					--></label>
		  					<label class="autres"><!--
		  						--><input type="checkbox" id="autres" name="autres"{{ ('on' in afficher['autres']) ? 'checked' : '' }}><!--
		  						-->les autres<!--
		  					--></label>
						{% endif %}
						<label><!--
							--><input type="checkbox" id="entrees" name="entrees"{{ ('on' in afficher['entrees']) ? 'checked' : '' }}><!--
							-->les entrées<!--
	  					--></label>
	  					<label><!--
	  						--><input type="checkbox" id="platsPrincipaux" name="platsPrincipaux"{{ ('on' in afficher['platsPrincipaux']) ? 'checked' : '' }}><!--
	  						-->les plats principaux<!--
	  					--></label>
	  					<label><!--
		  					--><input type="checkbox" id="desserts" name="desserts"{{ ('on' in afficher['desserts']) ? 'checked' : '' }}><!--
		  					-->les desserts<!--
	  					--></label>
	  				</div>
  				</div>
  				<div class="trierContainer">
  					<h3>Trier par</h3>
					<select name="trier">
						<option value="date"{{ ('date' in trier) ? 'selected' : '' }}>Date</option>
						<option value="titre"{{ ('titre' in trier) ? 'selected' : '' }}>Titre</option>					
						<option value="score"{{ ('score' in trier) ? 'selected' : '' }}>Score</option>
					</select>
				</div>
				<button type="submit">CHERCHER</button>
			</form>
		</div>
		<div class="recettesListContainer">
			{% for recette in recettes %}
				<a class="recetteLink" href="{{ path('recipe.show', {id: recette.id, slug: recette.slug}) }}">
					<h3>{{ recette.titre }}</h2>
					{% if recette.image %}
						<img src="{{ vich_uploader_asset(recette, 'imageFile') | imagine_filter('thumb') }}" alt="photo du plat">
					{% else %}
						<img src="{{ '/images/recettes/empty.png' | imagine_filter('thumb') }}" alt="photo du plat">
					{% endif %}
					<div class="recetteAverageScore">
						{% for i in 1..5 %}
							{% if i <= recette.avScore %}
								<p class="star">★</p>
							{% else %}
								<p class="star">☆</p>
							{% endif %}
						{% endfor %}
					</div>
				</a>
			{% endfor %}
		</div>
		{{ knp_pagination_render(recettes) }}
	</div>
</div>
{% endblock %}

{% block javascripts %}{{ encore_entry_script_tags('manageSortBy') }}{% endblock %}