{% extends 'base.html.twig' %}

{% block title 'Liste des Recettes' %}

{% block body %}

<div id="main">
	<div class="mainContent maxWidthMain">
		{% for message in app.flashes('success') %}
			<p class="infoSms">{{ message }}</p>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<p class="alertSms">{{ message }}</p>
		{% endfor %}
		<div class="row">
			<form name="trier" method="post" action="{{ path('recipe.index') }}">
				<div class="optionsAfficher">
					<div>
						<input type="checkbox" id="vosFav" name="vosFav"{{ ('on' in afficher['vosFav']) ? 'checked' : '' }}>
	  					<label for="vosFav">vos favoris</label>
	  					<input type="checkbox" id="vosRea" name="vosRea"{{ ('on' in afficher['vosRea']) ? 'checked' : '' }}>
	  					<label for="vosRea">vos réalisation</label>
	  					<input type="checkbox" id="autres" name="autres"{{ ('on' in afficher['autres']) ? 'checked' : '' }}>
	  					<label for="autres">les autres</label>
	  				</div>
	  				<div>
						<input type="checkbox" id="entrees" name="entrees"{{ ('on' in afficher['entrees']) ? 'checked' : '' }}>
	  					<label for="entrees">les entrées</label>
	  					<input type="checkbox" id="platsPrincipaux" name="platsPrincipaux"{{ ('on' in afficher['platsPrincipaux']) ? 'checked' : '' }}>
	  					<label for="platsPrincipaux">les plats principaux</label>
	  					<input type="checkbox" id="desserts" name="desserts"{{ ('on' in afficher['desserts']) ? 'checked' : '' }}>
	  					<label for="desserts">les desserts</label>	  					
	  				</div>
  				</div>
				<select name="trier">
					<option value="date"{{ ('date' in trier) ? 'selected' : '' }}>Date</option>
					<option value="titre"{{ ('titre' in trier) ? 'selected' : '' }}>Titre</option>					
					<option value="score"{{ ('score' in trier) ? 'selected' : '' }}>Score</option>
				</select>
				<button type="submit">TRIER</button>
			</form>
		<h2>Les Recettes</h2>
		<div class="recettesListContainer">
			{% for recette in recettes %}
				<a class="recetteLink" href="{{ path('recipe.show', {id: recette.id, slug: recette.slug}) }}">
					<h3>{{ recette.titre }}</h2>
					{% if recette.image %}
						<img src="{{ vich_uploader_asset(recette, 'imageFile') | imagine_filter('thumb') }}" alt="photo du plat">
					{% else %}
						<img src="{{ '/images/recettes/empty.png' | imagine_filter('thumb') }}" alt="photo du plat">
					{% endif %}
					{% if app.user and app.user == recette.user %}
						<form method="post" action="{{ path('recipe.delete', {id: recette.id}) }}" onsubmit="return confirm('La Suppression de la recette est irréversible! Désirez-vous continuer ?')">
							<input type="hidden" name="_method" value="DELETE">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recette.id) }}">
							<button>SUPPRIMER</button>
						</form>
					{% endif %}
				</a>
			{% endfor %}
		</div>
		{{ knp_pagination_render(recettes) }}
	</div>
</div>
{% endblock %}