{% extends 'base.html.twig' %}

{% block title 'Liste les Recettes' %}

{% block body %}
{% for message in app.flashes('success') %}
	{{ message }}
{% endfor%}
{% for message in app.flashes('error') %}
	{{ message }}
{% endfor%}
<h1>Lister les Recettes</h1>

{% for recette in recettes %}
	<h2><a href="{{ path('recipe.show', {id: recette.id, slug: recette.slug}) }}">{{ recette.titre }}</a></h2>
	<h3>Image</h3>
	<p>{{ recette.image }}</p>
	{% if app.user and app.user == recette.user %}
		<form method="post" action="{{ path('recipe.delete', {id: recette.id}) }}" onsubmit="return confirm('La Suppression de la recette est irréversible! Désirez-vous continuer ?')">
			<input type="hidden" name="_method" value="DELETE">
			<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recette.id) }}">
			<button>SUPPRIMER</button>
		</form>
	{% endif %}
{% endfor %}
    {{ knp_pagination_render(recettes) }}
{% endblock %}