{% extends 'base.html.twig' %}

{% block title 'Liste les Recettes' %}

{% block body %}
	<div id="main" class="recettePage">
		<div class="showPage maxWidthMain">
			<div class="row">
				<div class="title">
					<h2>{{ recette.titre }}</h2>
				</div>
				<div class="tools">
					<a href="#">
						<img src="{{ '/images/icons/favoris.png' }}" alt="ajouter aux favoris">
					</a>
					<a href="#">
						<img src="{{ '/images/icons/print.png' }}" alt="imprimer">
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-1">
					{% if recette.image %}
						<img src="{{ vich_uploader_asset(recette, 'imageFile') | imagine_filter('thumb') }}" alt="photo du plat">
					{% else %}
						<img src="{{ '/images/recettes/empty.png' | imagine_filter('thumb') }}" alt="photo du plat">
					{% endif %}
				</div>
				<div class="col-2">
					<div>
						<h3>Type de Plat:</h3>
						<p>{{ recette.recetteType }}</p>
					</div>
					<div>
						<h3>Nombre de Personnes:</h3>
						<p>{{ recette.nbrPers }} personne(s)</p>
					</div>
					<div>
						<h3>Préparation:</h3>
						<p>{{ recette.tempsPrepa|date('H:i')}} minutes</p>
					</div>
					<div>
						<h3>Cuisson:</h3>
						<p>{{ recette.tempsCuisson|date('H:i') }} minutes</p>
					</div>
				</div>
				<div class="col-3">
					{% if userAlreadyComment == false %}
						{% if recette.comments is not empty %}
							{% if recette.comments|length > 1 %}
								<a href="#newCommentContainer">{{ recette.comments|length }} Commentaires/Notes</a>
							{% else %}
								<a href="#newCommentContainer">1 Commentaire/Note</a>
							{% endif %}
						{% else %}
							<a href="#newCommentContainer">0 Commentaire/Note</a>
						{% endif %}
					{% else %}
							{% if recette.comments|length > 1 %}
								<a href="#communaute">{{ recette.comments|length }} Commentaires/Notes</a>
							{% else %}
								<a href="#communaute">1 Commentaire/Note</a>
							{% endif %}
					{% endif %}
					<div class="recetteAverageScoreContainer">
						<h3>Moyenne:</h3>
						<div class="recetteAverageScore">
							{% for i in 1..5 %}
								{% if i <= recetteAverageScore %}
									<p class="star">★</p>
								{% else %}
									<p class="star">☆</p>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-4">
					<div class="ingredientsContainer">
						<h3>Ingrédients</h3>
						{% for ingredient in recette.ingredients %}
							<p>{{ ingredient.contenu }}</p>
						{% endfor %}
					</div>
				</div>
				<div class="col-5">
					<div class="etapesContainer">
						<h3>Préparation</h3>
						{% for etape in recette.etapes %}
							<h4>Etape {{ loop.index }}</h4>
							<p>{{ etape.contenu }}</p>
						{% endfor %}
					</div>
				</div>
				{% if app.user and app.user == recette.user %}
					<a  class="btn validateBtn" href="{{ path('recipe.edit', {id: recette.id, slug: recette.slug}) }}">EDITER</a>
				{% endif %}
			</div>
			<div class="commentaires">
				{% if userAlreadyComment == false %}
					<div id="newCommentContainer" class="newCommentContainer">
						<h3>Donnez votre Avis ?</h3>
						<ul id="scoreContainer" class="scoreContainer">
							<input type="radio" id="star5" name="rating" value="5" />
							<label for="star5" title="Incroyable">
								<span class="unchecked">☆</span>
								<span class="checked">★</span>
							</label>
							<input type="radio" id="star4" name="rating" value="4" />
							<label for="star4" title="Très bien">
								<span class="unchecked">☆</span>
								<span class="checked">★</span>
							</label>
							<input type="radio" id="star3" name="rating" value="3" />
							<label for="star3" title="Pas mal">
								<span class="unchecked">☆</span>
								<span class="checked">★</span>
							</label>
							<input type="radio" id="star2" name="rating" value="2" />
							<label for="star2" title="Pas terrible">
								<span class="unchecked">☆</span>
								<span class="checked">★</span>
							</label>
							<input type="radio" id="star1" name="rating" value="1" />
							<label for="star1" title="Dramatique">
								<span class="unchecked">☆</span>
								<span class="checked">★</span>
							</label>
						</ul>
					</div>
					{{ form_start(form, {'attr': {'id': 'commentsForm', 'class': 'commentsForm'}}) }}
						{{ form_rest(form) }}
						<button>ENREGISTRER</button>
					{{ form_end(form) }}
				{% endif %}
				{% if recette.comments is not empty %}
					<h3>Les Avis de la Communauté</h3>
				{% endif %}
				<ul id="communaute" class="communaute">
					{% for comment in recette.comments %}
						<li>
							<div class="titre">
								<p class="auteur">{{ comment.author }}</p>
								<div class="scoreContainer">
									{% for i in 5..1 %}
										{% if i <= comment.score %}
											<p class="star">★</p>
										{% else %}
											<p class="star">☆</p>
										{% endif %}
									{% endfor %}
								</div>
							</div>
							<p class="contenu">{{ comment.contenu }}</p>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}{{ encore_entry_script_tags('manageVote') }}{% endblock %}