<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheets" href="{{ asset('build/app.css') }}">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    	<nav>
    		<ul>
    			<li>
    				<a class="{% if current_menu is defined and current_menu == 'recipe.index' %}active{% endif %}" href="{{ path('recipe.index') }}">Lister les Recettes</a>
    			</li>
                {% if app.user %}
                    <li>
                        <a class="{% if current_menu is defined and current_menu == 'recipe.create' %}active{% endif %}" href="{{ path('recipe.create') }}">Partager une Nouvelle Recette</a>
                        <a href="{{ path('logout') }}">logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('login') }}">login</a>
                    </li>                    
                {% endif %}
    		</ul>
    	</nav>
        {% block body %}{% endblock %}
        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
