<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Le Colon Irritable{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,700|Source+Sans+Pro:400,700&display=swap" rel="stylesheet">
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    </head>
    <body>
        <header>
            <div class="headerContent maxWidthHeader">
                <a class="bannerContainer" href="{{ path('recipe.index') }}">
                    <img src="{{ asset('images/icons/colonirritable.png') }}" alt="logo du site">
                    <h1>Le Colon Irritable</h1>
                </a>
                <div class="profilContainer">
                    {% if app.user %}
                        <img src="{{ asset('images/icons/profil.png') }}" alt="émoticône représentant une tête souriante">
                        <div class="profil">
                            <p>{{ app.user.username }}</p>
                            <div class="hiddenContainer">
                                <a href="#">configurer</a>
                                <a href="{{ path('logout') }}">se déconnecter</a>
                            </div>
                        </div>
                    {% else %}
                        <a class="profil" href="{{ path('login') }}">
                            <img src="{{ asset('images/icons/profil.png') }}" alt="logo du site">
                            <p>mon compte</p>
                        </a>
                    {% endif %}
                </div>
            </div>
        </header>
    	<nav>
    		<ul class="maxWidthHeader">
    			<li>
    				<a class="btn {% if current_menu is defined and current_menu == 'recipe.index' %}active{% endif %}" href="{{ path('recipe.index') }}">LISTER LES RECETTES</a>
    			</li>
                <li>
                    <a class="btn {% if current_menu is defined and current_menu == 'recipe.create' %}active{% endif %}" href="{{ path('recipe.create') }}">PARTAGER UNE NOUVELLE RECETTE</a>
                </li>
    		</ul>
    	</nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>
